// ==============================================
// Website body styles
// ==============================================

.body {
    @include clearfix();
    margin: 0 10%;
    padding: rem(13px 0);
}

    .body-title {
        @include fontSize(20px);
        color: $primary;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        margin: rem(0 0 20px);
        padding: 0;

        @include break(medium) {
            @include fontSize(30px);
            margin: rem(0 0 30px);
        }

        @include break(large) {
            @include fontSize(36px);
        }
    }

    .body-subtitle {
        @include fontSize(14px);
        clear: both;
        color: $primary;
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        font-weight: 400;
        margin: rem(0 0 5px);
        opacity: 0.5;
        padding: 0;

        @include break(medium) {
            @include fontSize(16px);
            margin: rem(0 0 10px);
        }

        @include break(large) {
            @include fontSize(18px);
        }
    }

    .body-link {
        @include fontSize(18px);
        border-bottom: 2px solid transparent;
        clear: left;
        color: $primary;
        display: inline-block;
        float: left;
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        margin: rem(0 0 3px);
        padding: 0;
        text-decoration: none;
        -webkit-transition: border 0.2s ease-in-out;
        transition: border 0.2s ease-in-out;

        @include break(medium) {
            @include fontSize(22px);
        }
    }

    .body-link.mod-external::after {
        @include fontSize(14px);
        content: '\e808';
        font-family: "fontello";
        opacity: 0.2;

        @include break(medium) {
            @include fontSize(18px);
        }
    }

    .body-link.mod-margin {
        margin: rem(0 0 20px);
    }

    .body-link.mod-contact {
        @include fontSize(14px);
        font-family: 'Roboto Slab', serif;
        font-weight: 400;
        padding: rem(0 0 3px);

        @include break(medium) {
            @include fontSize(18px);
        }
    }

    .body-link.mod-contact::before {
        @include fontSize(14px);
        content: '\e809';
        font-family: "fontello";
        opacity: 0.2;
        padding: rem(0 2px 0 0);

        @include break(medium) {
            @include fontSize(18px);
        }
    }

    .body-link.mod-contact.mod-twitter::before {
        content: '\e800';
    }

    .body-link.mod-contact.mod-phone::before {
        content: '\e80a';
    }

    .body-link::after,
    .body-link::before {
        -webkit-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
    }

    a.body-link:hover {
        border-bottom-color: $primary;

        &::after,
        &::before {
            opacity: 0.8;
        }
    }
