// ==============================================
// Website header styles
// ==============================================

.header {
    background: $primary;
    height: 40vh;
    min-height: rem(130px);
    position: relative;
}

    .header-title {
        @include fontSize(40px);
        bottom: rem(13px);
        color: $white;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        left: 10%;
        margin: 0;
        padding: 0;
        position: absolute;

        @include break(medium) {
            @include fontSize(60px);
        }
    }

        .header-title-degree {
            @include fontSize(18px);
            display: block;
            font-style: italic;
            font-weight: 400;
            opacity: 0.3;

            @include break(medium) {
                @include fontSize(16px);
                display: inline;
                opacity: 0.2;
            }
        }
